{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div container h-100>
        <div row h-100>
            <div class="my-auto">
                <h1 class="display-4 logo-font text-primary text-center w-100">
                    Multi-Vendor
                    Homeware online shop
                </h1>
                <h3 class="logo-font text-center mt-5 mb-5 text-info"> You can request to vecome a vendor by clicking on 'become a vendor' in footer</h3>
                <div class="my-5 mb-5 text-center">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-full text-uppercase py-3">Products</a>
                        <a href="{% url 'posts' %}" class="shop-now-button btn btn-lg rounded-full text-uppercase py-3">Articles</a>
                    </h4>
                    <div class="row">
                        <div class="col my-3 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}