{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div container h-100>
        <div row h-100>
            <div class="my-auto" id="cover-text">
                <h1 class="display-4 logo-font text-white text-center w-100">
                    Multi-Vendor Homeware Online Shop
                </h1>
                <h3 class="logo-font text-center mt-5 mb-5 text-white"> You can request to become a vendor by clicking on 'become a vendor' in footer</h3>
            </div>
                <div class="my-5 mb-5 text-center">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-full text-uppercase py-3">Products</a>
                        <a href="{% url 'posts' %}" class="shop-now-button btn btn-lg rounded-full text-uppercase py-3">Articles</a>
                    </h4>
                <div class="row">
                    <div class="col my-3 text-white text-center"><h5>Enjoy your visit to our shop</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}