{% extends 'base.html' %}
{% load static %}

{% block title %}403{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <h2 class="logo-font mt-5">Error 404</h2>
                    <hr class="w-100 mb-1">
            </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 logo-font text-black">
                    Page not available insufficient rights to resource
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class="shop-now-button btn btn-lg rounded-full text-uppercase py-3">
                                Return to shop
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
{% endblock %}