{% load static %}

<footer>
    
    <div class="footer container-fluid bg-dark text-light mt-5 pt-5">
        <div class="container py-0">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Contact Us</h6>
                    <p class="font-weight-light">info@edwinaz.com</p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Follow Us</h6>
                        <p class="font-weight-light">
                            <a href="https://www.facebook.com/Edwinaz-107287325695098" target="_blank"><i class="fa-brands fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        
                            <a href="https://twitter.com/dooleyp24" target="_blank"><i class="fa-brands fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                     
                            <a href="https://www.instagram.com/p/Cry4ZOMIVfk/" target="_blank"><i class="fa-brands fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        
                            <a href="https://www.linkedin.com/in/padraig-dooley-924a3620" target="_blank"><i class="fa-brands fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        
                        
                            <a href="https://github.com/dooco" target="_blank"><i class="fa-brands fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        </p>
                    </div>
                <div class="col-sm-12 col-md-3 col-lg-3">  
                    <h6>Links</h6>
                    <div>
                        <div><small><a href="{% url 'become_a_vendor' %}" class="text-white font-weight-light text-decoration-none">Become a vendor</a></small></div>
                        <div><small><a href="{% url 'about' %}" class="text-white font-weight-light text-decoration-none">About us</a></small></div>
                        <div><small><a href="https://www.housewares.org/" rel="noopener noreferrer" class="text-white font-weight-light text-decoration-none">IHA</a></small></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">  
                    
                        <p>Subscribe to our mailing list.</p>
                    
                            <a href="{% url 'subscribe' %}"><button type="submit" class="btn btn-outline-black rounded-0 mt-2">Subscribe</button></a>
                        </form>
                        <p class="mt-2 text-decoration-none text-muted"><a href="{% url 'unsubscribe' %}">Unsubscribe</a></p>
                
                </div>
            </div>
        </div>
        <div class="container text-center py-1">
            <p style="font-size:12px">Copyright © 2023 All Rights Reserved.</p>
        </div>
    </div>
</footer>