<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=vendor&direction=asc" class="dropdown-item ">By Vendor</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="kit&din-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchen &amp; Dining
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kit&din-link">
                <a href="{% url 'products' %}?category=kitfur" class="dropdown-item">Kitchen Furniture</a>
                <a href="{% url 'products' %}?category=dinfur" class="dropdown-item">Dining Furniture</a>
                <a href="{% url 'products' %}?category=kitacc" class="dropdown-item">Kitchen Accessories</a>
                <a href="{% url 'products' %}?category=dinacc" class="dropdown-item">Dining Accessories</a>
                <a href="{% url 'products' %}?category=kitfur,dinfur,kitacc,dinacc" class="dropdown-item">All Kitchen &amp; Dining</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bed&bath-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bed &amp; Bath
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bed&bath-link">
                <a href="{% url 'products' %}?category=bedfur" class="dropdown-item">Bedroom Furniture</a>
                <a href="{% url 'products' %}?category=bathfur" class="dropdown-item">Bathroom Furniture</a>
                <a href="{% url 'products' %}?category=bedacc" class="dropdown-item"> Bedroom Accessories</a>
                <a href="{% url 'products' %}?category=bathacc" class="dropdown-item">Bathroom Accessories</a>
                <a href="{% url 'products' %}?category=bedfur,batfur,bedacc,bathacc" class="dropdown-item">All Bed &amp; Bath</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="living-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Living
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="living-link">
                <a href="{% url 'products' %}?category=livfur" class="dropdown-item">Livingroom Furniture</a>
                <a href="{% url 'products' %}?category=currug" class="dropdown-item">Curtains &amp; Rugs</a>
                <a href="{% url 'products' %}?category=livacc" class="dropdown-item">Livingroom Accessories</a>
                <a href="{% url 'products' %}?category=livfur,currug,livacc" class="dropdown-item">All Living</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="outdoor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outdoor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="outdoor-link">
                <a href="{% url 'products' %}?category=outfur" class="dropdown-item">Outdoor Furniture</a>
                <a href="{% url 'products' %}?category=outacc" class="dropdown-item">Outdoor Accessories</a>
                <a href="{% url 'products' %}?category=outfur,outacc" class="dropdown-item">All Outdoor</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="post-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="post-link">
                <a href="{% url 'posts' %}" class="dropdown-item">Articles</a>
            </div>
        </li>
    </ul>
</div>