<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'home' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'home' %}?sort=rating&direction=desc" class="dropdown-item ">By Vendor</a>
                <a href="{% url 'home' %}?sort=category&direction=asc" class="dropdown-item ">By Style</a>
                <a href="{% url 'home' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchen &amp; Dining
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'home' %}?category=jeans" class="dropdown-item">Furniture</a>
                <a href="{% url 'home' %}?category=shirts" class="dropdown-item">Kitchen Accessories</a>
                <a href="{% url 'home' %}?category=shirts" class="dropdown-item">Dining Accessories</a>
                <a href="{% url 'home' %}?category=activewear,essentials,jeans,shirts" class="dropdown-item">All Kitchen &amp; Dining</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bed &amp; Bath
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'home' %}?category=bed_bath" class="dropdown-item">Furniture</a>
                <a href="{% url 'home' %}?category=kitchen_dining" class="dropdown-item">Accessories</a>
                <a href="{% url 'home' %}?category=bed_bath,kitchen_dining" class="dropdown-item">All Bed &amp; Bath</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Living
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'home' %}?category=bed_bath" class="dropdown-item">Furniture</a>
                <a href="{% url 'home' %}?category=kitchen_dining" class="dropdown-item">Curtains &amp; Rugs</a>
                <a href="{% url 'home' %}?category=kitchen_dining" class="dropdown-item">Accessories</a>
                <a href="{% url 'home' %}?category=bed_bath,kitchen_dining" class="dropdown-item">All Living</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outdoor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'home' %}?category=bed_bath" class="dropdown-item">Furniture</a>
                <a href="{% url 'home' %}?category=kitchen_dining" class="dropdown-item"> Accessories</a>
                <a href="{% url 'home' %}?category=bed_bath,kitchen_dining" class="dropdown-item">All Outdoor</a>
            </div>
        </li>
    </ul>
</div>