<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'home' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'home' %}?sort=vendor&direction=asc" class="dropdown-item ">By Vendor</a>
                <a href="{% url 'home' %}?sort=style&direction=asc" class="dropdown-item ">By Style</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchen &amp; Dining
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'home' %}?category=kitchen_furniture" class="dropdown-item">Kitchen Furniture</a>
                <a href="{% url 'home' %}?category=dining_furniture" class="dropdown-item">Dining Furniture</a>
                <a href="{% url 'home' %}?category=kitchen_accessories" class="dropdown-item">Kitchen Accessories</a>
                <a href="{% url 'home' %}?category=dining_accessories" class="dropdown-item">Dining Accessories</a>
                <a href="{% url 'home' %}?category=kitchen_furniture,dining_furniture,kitchen_accessories,dining_accessories" class="dropdown-item">All Kitchen &amp; Dining</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bed &amp; Bath
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'home' %}?category=bed_furniture" class="dropdown-item">Bedroom Furniture</a>
                <a href="{% url 'home' %}?category=bath_furniture" class="dropdown-item">Bathroom Furniture</a>
                <a href="{% url 'home' %}?category=bed_accessories" class="dropdown-item"> Bedroom Accessories</a>
                <a href="{% url 'home' %}?category=bath_accessories" class="dropdown-item">Bathroom Accessories</a>
                <a href="{% url 'home' %}?category=bed_furniture,bath_furniture,bed_accessories,bath_accessories" class="dropdown-item">All Bed &amp; Bath</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Living
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'home' %}?category=living_furniture" class="dropdown-item">Livingroom Furniture</a>
                <a href="{% url 'home' %}?category=curtains_rugs" class="dropdown-item">Curtains &amp; Rugs</a>
                <a href="{% url 'home' %}?category=living_accessories" class="dropdown-item">Livingroom Accessories</a>
                <a href="{% url 'home' %}?category=living_furniture,curtains_rugs,living_accessories" class="dropdown-item">All Living</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outdoor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'home' %}?category=outdoor_furniture" class="dropdown-item">Outdoor Furniture</a>
                <a href="{% url 'home' %}?category=outdoor_accessories" class="dropdown-item">Outdoor Accessories</a>
                <a href="{% url 'home' %}?category=outdoor_furniture,outdoor_accessories" class="dropdown-item">All Outdoor</a>
            </div>
        </li>
    </ul>
</div>