{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="slideshow-container">

        <div class="mySlides fade">
          <img src="{{ 'photos.image' }}" style="width:100%">
          <div class="text">{{ 'photos.title' }}</div>
        </div>
        
        <div class="mySlides fade">
          <img src="{{ 'photos.image' }}" style="width:100%">
          <div class="text">{{ 'photos.title' }}</div>
        </div>
        
        <div class="mySlides fade">
          <img src="{{ 'photos.image' }}" style="width:100%">
          <div class="text">{{ 'photos.title' }}</div>
        </div>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>
    {% endblock %}
