{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
  <meta name="description"
  content="Buy homeware, soft furnishings, household gifts, bed linen, home decor, housewarming gifts, furniture and designer makeover products at Edwinaz .Our shop provide quality, refined dining room, living room and bedroom furniture. Edwinaz is a comprehensive lifestyle and homeware online store.">
  <meta name="keywords" content="homeware,house warming presents and gifts,interiors,modern,urban,contemporary,stylish,bohemian,rustic,chic,classic,high end,lifestyle,wedding gift,home,furniture,">
{% endblock %}

{% block title %}Newsletter unsubscribe{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <h1>Unsubscribe</h1>
            <p>Enter your email address to unsubscribe from our mailing list.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-danger rounded-full">Unsubscribe</button>
                </form>
            <p class="mt-2 text-decoration-none"><a href="{% url 'subscribe' %}">Subscribe</a></p>
    </div>
    <div class="my-5">
        <h4>
            <a href="{% url 'products' %}" 
                class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                    Return to shop
            </a>
        </h4>
    </div>
</div>
{% endblock %}
